page-home {


  .md button {
    text-transform: none;  
  }
  
  .ios button {
    text-transform: none;    
  }
  
  .square {  
    display: block;
    width: 100% !important;
    height:0 !important;
    padding: 50% 0% 50% 0% !important;
    }
  
  label {
      flex-direction: column;
      font-size: 1em;
      font-weight: normal;
      display: block;
      padding: 0 16px;
      color: #1571ac;    
      }
     
      // .my-overlay {
      //   position: fixed;
      //   width: 100%;
      //   height: 100%;
      //   background: rgba(0,0,0,0.7);
      //   z-index: 20;
      //   top: 0;
      //   left: 0;
      // }
}
